<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-responsavel-heading" jhiTranslate="ishtarApp.responsavel.home.createOrEditLabel">Create or edit a Responsavel</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ishtarApp.responsavel.dataCadastro" for="field_dataCadastro">Data Cadastro</label>
                    <div class="input-group">
                        <input id="field_dataCadastro" type="text" class="form-control" name="dataCadastro" ngbDatepicker  #dataCadastroDp="ngbDatepicker" formControlName="dataCadastro"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dataCadastroDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('dataCadastro').invalid && (editForm.get('dataCadastro').dirty || editForm.get('dataCadastro').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dataCadastro').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ishtarApp.responsavel.ativo" for="field_ativo">Ativo</label>
                    <input type="checkbox" class="form-control" name="ativo" id="field_ativo"
                           formControlName="ativo"/>
                    <div *ngIf="editForm.get('ativo').invalid && (editForm.get('ativo').dirty || editForm.get('ativo').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('ativo').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ishtarApp.responsavel.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="user">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('user').value?.id ? editForm.get('user').value : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="ishtarApp.responsavel.polos" for="field_polos">Polos</label>
                    <select class="form-control" id="field_polos" multiple name="polos" formControlName="polos">
                        <option [ngValue]="getSelected(editForm.get('polos').value, poloOption)" *ngFor="let poloOption of polos; trackBy: trackPoloById">{{poloOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
