<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="contato">
            <h2><span jhiTranslate="ishtarApp.contato.detail.title">Contato</span> {{contato.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ishtarApp.contato.ddd">Ddd</span></dt>
                <dd>
                    <span>{{contato.ddd}}</span>
                </dd>
                <dt><span jhiTranslate="ishtarApp.contato.telefone">Telefone</span></dt>
                <dd>
                    <span>{{contato.telefone}}</span>
                </dd>
                <dt><span jhiTranslate="ishtarApp.contato.responsavel">Responsavel</span></dt>
                <dd>
                    <div *ngIf="contato.responsavel">
                        <a [routerLink]="['/responsavel', contato.responsavel?.id, 'view']">{{contato.responsavel?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/contato', contato.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
